<h2>Basic without m-theme</h2>
<mat-list>
  <mat-list-item>Pepper</mat-list-item>
  <mat-list-item>Salt</mat-list-item>
  <mat-list-item>Paprika</mat-list-item>
</mat-list>
<h2>Multilines + icon</h2>
<mat-list class="m-theme">
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>folder</mat-icon>
    <p mat-line>Pepper</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>map</mat-icon>
    <p mat-line>Salt</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>warning</mat-icon>
    <p mat-line>Paprika</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
</mat-list>
<mat-list class="m-theme important">
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>folder</mat-icon>
    <p mat-line>Pepper</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>map</mat-icon>
    <p mat-line>Salt</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
  <mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>warning</mat-icon>
    <p mat-line>Paprika</p>
    <p mat-line>lorem ipsum</p>
  </mat-list-item>
</mat-list>
<h2>List with buttons</h2>
<mat-action-list class="m-theme important">
  <button mat-list-item class="dark-overlay-8 light-overlay">Button 1</button>
  <button mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>folder</mat-icon>
    <span mat-line>Button 2</span>
  </button>
  <button mat-list-item class="dark-overlay-8 light-overlay">
    <span mat-line>Button 3</span>
    <mat-icon>send</mat-icon>
  </button>
  <button mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>map</mat-icon>
    <span mat-line>Button 4</span>
    <span mat-line>Sub text</span>
    <mat-icon>send</mat-icon>
  </button>
  <button mat-list-item class="dark-overlay-8 light-overlay">
    <mat-icon mat-list-icon>camera</mat-icon>
    <span mat-line>Button 5</span>
    <span mat-line>Sub text 1</span>
    <span mat-line>Sub text 2</span>
    <mat-icon>send</mat-icon>
  </button>
</mat-action-list>
<h2>Navlist with multiple actions</h2>
<mat-nav-list class="m-theme important" [disableRipple]="true">
  <mat-list-item class="no-padding double-action dark-overlay-8 light-overlay">
    <a mat-line mat-ripple routerLink="/button">/button</a>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item class="no-padding double-action dark-overlay-8 light-overlay">
    <a mat-line mat-ripple routerLink="/list">/list</a>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item class="no-padding double-action dark-overlay-12 light-overlay">
    <a mat-line mat-ripple routerLink="/list">
      <mat-icon class="icon-left-large">folder</mat-icon>
      <span class="ellipsis">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
    </a>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-list-item>
  <mat-list-item class="no-padding double-action m-2-line dark-overlay-8 light-overlay">
    <a mat-line mat-ripple routerLink="/list">
      <mat-icon class="m-icon icon-left-large important">folder</mat-icon>
      <span class="ellipsis">
        <span class="ellipsis">Multiline</span>
        <span class="ellipsis sub-line">Lorem ipsum dolor, sit amet consectetur adipisicing elit.</span>
      </span>
    </a>
    <button mat-icon-button>
      <mat-icon>favorite_border</mat-icon>
    </button>
  </mat-list-item>
</mat-nav-list>
