<button mat-raised-button color="accent" class="m-theme" (click)="openDialog()">Demo dialog</button>

<mat-card>
  <h1 mat-card-title></h1>
  <mat-card-content>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae, cumque reprehenderit natus modi magni quidem dolores aliquid laborum temporibus! Reiciendis commodi,
    quia maxime veritatis aut animi! Illo, quas dolorem.
  </mat-card-content>
</mat-card>
<mat-card class="m-theme">
  <h1 mat-card-title></h1>
  <mat-card-content>
    Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quo molestiae, cumque reprehenderit natus modi magni quidem dolores aliquid laborum temporibus! Reiciendis commodi,
    quia maxime veritatis aut animi! Illo, quas dolorem.
  </mat-card-content>
</mat-card>
