<h2>Buttons</h2>
<h3>Basic Buttons</h3>
<div class="example-button-row">
  <button mat-button class="m-theme">Basic</button>
  <button mat-button color="primary" class="m-theme">Primary</button>
  <button mat-button color="accent" class="m-theme">Accent</button>
  <button mat-button color="warn" class="m-theme">Warn</button>
  <button mat-button disabled class="m-theme">Disabled</button>
  <a mat-button routerLink="." class="m-theme">Link</a>
</div>

<h3>Raised Buttons</h3>
<div class="example-button-row">
  <button mat-raised-button class="m-theme">Basic</button>
  <button mat-raised-button color="primary" class="m-theme">Primary</button>
  <button mat-raised-button color="accent" class="m-theme">Accent</button>
  <button mat-raised-button color="warn" class="m-theme">Warn</button>
  <button mat-raised-button disabled class="m-theme">Disabled</button>
  <a mat-raised-button routerLink="." class="m-theme">Link</a>
</div>

<h3>Stroked Buttons</h3>
<div class="example-button-row">
  <button mat-stroked-button class="m-theme">Basic</button>
  <button mat-stroked-button color="primary" class="m-theme">Primary</button>
  <button mat-stroked-button color="accent" class="m-theme">Accent</button>
  <button mat-stroked-button color="warn" class="m-theme">Warn</button>
  <button mat-stroked-button disabled class="m-theme">Disabled</button>
  <a mat-stroked-button routerLink="." class="m-theme">Link</a>
</div>

<h3>Flat Buttons</h3>
<div class="example-button-row">
  <button mat-flat-button class="m-theme">Basic</button>
  <button mat-flat-button class="m-theme" color="primary">Primary</button>
  <button mat-flat-button class="m-theme" color="accent">Accent</button>
  <button mat-flat-button class="m-theme" color="warn">Warn</button>
  <button mat-flat-button class="m-theme" disabled>Disabled</button>
  <a mat-flat-button routerLink=".">Link</a>
</div>

<h3>Button + icon</h3>
<div class="example-button-row">
  <button mat-button class="m-theme">
    <mat-icon class="right">layers</mat-icon>basic
  </button>
  <button mat-button class="m-theme" color="primary">
    <mat-icon class="right">layers</mat-icon>basic primary
  </button>
  <button mat-raised-button class="m-theme">
    <mat-icon class="right">layers</mat-icon>raised
  </button>
  <button mat-raised-button class="m-theme" color="primary">
    <mat-icon class="right">layers</mat-icon>raised primary
  </button>
  <button mat-stroked-button class="m-theme">
    <mat-icon class="right">layers</mat-icon>stroked
  </button>
  <button mat-stroked-button class="m-theme" color="primary">
    <mat-icon class="right">layers</mat-icon>stroked primary
  </button>
  <button mat-flat-button class="m-theme">
    <mat-icon class="right">layers</mat-icon>flat
  </button>
  <button mat-flat-button class="m-theme" color="primary">
    <mat-icon class="right">layers</mat-icon>flat primary
  </button>
</div>

<h3>Icon Buttons</h3>
<div class="example-button-row">
  <button mat-icon-button class="m-theme" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="m-theme" color="primary" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="m-theme" color="accent" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="m-theme" color="warn" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="m-theme" disabled aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
</div>

<h3>Fab Buttons</h3>
<div class="example-button-row">
  <button mat-fab class="m-theme">Basic</button>
  <button mat-fab class="m-theme" color="primary">Primary</button>
  <button mat-fab class="m-theme" color="accent">Accent</button>
  <button mat-fab class="m-theme" color="warn">Warn</button>
  <button mat-fab class="m-theme" disabled>Disabled</button>
  <button mat-fab class="m-theme" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-fab class="m-theme" routerLink=".">Link</a>
</div>

<h3>Mini Fab Buttons</h3>
<div class="example-button-row">
  <button mat-mini-fab class="m-theme">Basic</button>
  <button mat-mini-fab class="m-theme" color="primary">Primary</button>
  <button mat-mini-fab class="m-theme" color="accent">Accent</button>
  <button mat-mini-fab class="m-theme" color="warn">Warn</button>
  <button mat-mini-fab class="m-theme" disabled>Disabled</button>
  <button mat-mini-fab class="m-theme" aria-label="Example icon-button with a heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <a mat-mini-fab class="m-theme" routerLink=".">Link</a>
</div>
