@import "../../../../theme/variables";
@import "../../../../theme/helpers";

:host {
  .page-content {
    @include bottom-picture();

    body.dark-theme & {
      background: dark-color-overlay(2);
    }
    body.light-theme & {
      background: light-color-overlay(1);
    }
  }
}

.page-content {
  max-width: 600px;
  margin: auto;
  position: relative;

  p {
    padding: $spacing * 2;
  }
}
