<h2>Expansion Panel</h2>

<h3>Basic</h3>
<mat-accordion class="m-theme">
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>Lorem ipsum</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>Consetetur</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>Dolor sit amet</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
</mat-accordion>
<h3>mat-list style</h3>
<mat-accordion class="m-theme m-list important no-background">
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon">layers</mat-icon>
        <span>Lorem ipsum</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon" color="primary">camera</mat-icon>
        <span>Consetetur</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header class="medium">
      <mat-panel-title>Dolor sit amet (content-no-spacing)</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content with no spacing</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header class="big">
      <mat-panel-title>Content with action button</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary">
        <span>Retirer</span>
      </button>
      <button mat-button color="primary">
        <span>Send</span>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing no-highlight">
    <mat-expansion-panel-header>
      <mat-panel-title>Content with action button - no highlight</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary">
        <span>Retirer</span>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header class="big with-separator no-indicator">
      <mat-panel-title>
        <mat-icon class="panel-icon">folder</mat-icon>
        <span class="m-multiline">
          <span>Multiline title</span>
          <span>Sub text 1</span>
          <span>Sub text 2</span>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary">Action</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<mat-accordion class="m-theme m-list important">
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon">layers</mat-icon>
        <span>Lorem ipsum</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8">
    <mat-expansion-panel-header>
      <mat-panel-title>
        <mat-icon class="panel-icon" color="primary">camera</mat-icon>
        <span>Consetetur</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header class="medium">
      <mat-panel-title class="ellipsis">
        <span class="ellipsis">Dolor sit amet (content-no-spacing)</span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content with no spacing</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 exclude-light content-no-spacing">
    <mat-expansion-panel-header class="big">
      <mat-panel-title>Content with action button</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary" class="spacing">
        <span>Retirer</span>
      </button>
      <button mat-button color="primary">
        <span>Send</span>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header>
      <mat-panel-title>Content with action button</mat-panel-title>
    </mat-expansion-panel-header>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary">
        <span>Retirer</span>
      </button>
    </div>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 content-no-spacing">
    <mat-expansion-panel-header class="big with-separator no-indicator">
      <mat-panel-title>
        <mat-icon class="panel-icon">folder</mat-icon>
        <span class="m-multiline">
          <span>Multiline title</span>
          <span>Sub text 1</span>
          <span>Sub text 2</span>
        </span>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
    <div class="actions dark-overlay-12 light-overlay-inner">
      <button mat-button color="primary">Action</button>
    </div>
  </mat-expansion-panel>
</mat-accordion>
<h3>mat-list style + flat</h3>
<mat-accordion class="m-theme m-list flat">
  <mat-expansion-panel class="dark-overlay-8 light-overlay">
    <mat-expansion-panel-header>
      <mat-panel-title>Lorem ipsum</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 light-overlay">
    <mat-expansion-panel-header>
      <mat-panel-title>Consetetur</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
  <mat-expansion-panel class="dark-overlay-8 light-overlay">
    <mat-expansion-panel-header class="no-indicator">
      <mat-panel-title>Dolor sit amet (no-indicator)</mat-panel-title>
    </mat-expansion-panel-header>
    <p>Content</p>
  </mat-expansion-panel>
</mat-accordion>
