<mat-sidenav-container>
  <mat-sidenav #sidenav mode="over" fixedInViewport="true" style="width: 300px;">
    <h2>Progress bar</h2>
    <mat-progress-bar mode="indeterminate"></mat-progress-bar>
    <h2>Snack bar</h2>
    <button mat-raised-button color="primary" (click)="openSnackBar()">Show snack-bar</button>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar style="position: fixed; top: 0; left: 0; z-index: 1;">
      <mat-toolbar-row>
        <button mat-icon-button (click)="sidenav.toggle()">
          <mat-icon>menu</mat-icon>
        </button>
        <h1 style="flex: 1;">M Theme</h1>
        <mat-button-toggle-group class="m-theme" (change)="onThemeSwitchChange($event)" name="themeToggle" aria-label="Theme Toggle">
          <mat-button-toggle value="dark-theme" [checked]="true">Dark</mat-button-toggle>
          <mat-button-toggle value="light-theme">Light</mat-button-toggle>
        </mat-button-toggle-group>
      </mat-toolbar-row>
      <mat-toolbar-row class="align-end no-padding">
        <nav mat-tab-nav-bar mat-stretch-tabs style="width: 100%;">
          <a mat-tab-link *ngFor="let link of navLinks" [routerLink]="link.path" routerLinkActive #rla="routerLinkActive" [active]="rla.isActive">
            {{ link.label }}</a>
        </nav>
      </mat-toolbar-row>
    </mat-toolbar>
    <div style="margin-top: 180px;"></div>
    <router-outlet></router-outlet>
    <div style="height: 100px;"></div>
    <div class="m-toolbar main-navigation">
      <a routerLink="/button" routerLinkActive="active" mat-ripple>
        <mat-icon aria-hidden="true">picture_in_picture</mat-icon>
        <span>Button</span>
      </a>
      <a routerLink="/list" routerLinkActive="active" mat-ripple>
        <mat-icon aria-hidden="true">view_list</mat-icon>
        <span>List</span>
      </a>
      <a routerLink="/expansion-panel" routerLinkActive="active" mat-ripple>
        <mat-icon aria-hidden="true">view_agenda</mat-icon>
        <span>Panel</span>
      </a>
      <a routerLink="/dialog" routerLinkActive="active" mat-ripple>
        <mat-icon aria-hidden="true">pets</mat-icon>
        <span>Dialog</span>
      </a>
      <a routerLink="/bottom-sheet" routerLinkActive="active" mat-ripple>
        <mat-icon aria-hidden="true">credit_card</mat-icon>
        <span>Bottom sheet</span>
      </a>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
