@import "./variables";
@import "./helpers";

/********************************************************************************
 * Define some helper classes.
 ********************************************************************************/

/**
  * Used to display multiple line (in column) and define a smaller
  * font-size on non first of type items.
  */
.m-multiline {
  display: flex;
  flex-direction: column;
  font-size: $list-item-fz;

  > * {
    &:not(:first-of-type) {
      font-size: $list-item-fz-secondary;
      opacity: 0.7;
    }
  }
}

/**
 * Helper classes to add background dark behavior according to the elevation values.
 */
@each $elevation, $value in $dark-theme-elevation-colors {
  .m-elevation-#{$elevation} {
    body.dark-theme & {
      background: dark-color-overlay($elevation);

      &.mat-list-item {
        &:focus,
        &:hover {
          background: dark-color-overlay($elevation);
        }
      }
    }
    body.light-theme & {
      background: light-color-overlay($elevation);

      &.mat-list-item {
        &:focus,
        &:hover {
          background: light-color-overlay($elevation);
        }
      }
    }
  }
}

/**
 * Helper classes to build flex layout.
 */
.layout {
  display: flex;

  &.column {
    flex-direction: column;
  }

  &.align-center {
    align-items: center;
  }

  &.content-between {
    justify-content: space-between;
  }

  &.content-around {
    justify-content: space-around;
  }

  &.content-center {
    justify-content: center;
  }

  &.content-start {
    justify-content: flex-start;
  }

  &.no-wrap {
    flex-wrap: nowrap;
  }

  > .flex {
    flex: 1;
    min-width: 0;
  }
}

.align-self-end {
  align-self: flex-end;
}

.sticky {
  position: sticky;
  top: 0;
}

/**
 * Helper classes for icons.
 * Available classes: .m-icon, .[m-]icon[[-very]-large], .m-icon.important
 */
.m-icon,
.icon {
  &-left {
    @include icon-margin(right);
  }

  &-right {
    @include icon-margin(left);
  }

  &.important {
    height: $icon-large;
    width: $icon-large;
    font-size: $icon-large;

    body.dark-theme & {
      color: map-get($dark-primary, default);
    }
    body.light-theme & {
      color: map-get($light-primary, default);
    }
  }
}

/**
 * Helper classes for text.
 */
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  display: block;
}

/**
 * Helper class to add a background image on bottom of a scrollable container.
 * TODO
 */
.end-with-bg {
  padding-bottom: $end-bg-size;
}

.drop-shadow {
  @include drop-shadow();
}

.circle {
  border-radius: 50%;
  overflow: hidden;
}

.rounded {
  overflow: hidden;

  &:not(&--top) {
    border-radius: $shape-radius;
  }

  &--top {
    border-top-left-radius: $shape-radius;
    border-top-right-radius: $shape-radius;
  }
}

.spacing-iphone-X {
  padding-bottom: env(safe-area-inset-bottom) !important;
  margin-left: env(safe-area-inset-left) !important;
}

@supports (padding: max(0px)) {
  .spacing-iphone-X {
    padding-bottom: max(var($spacing), env(safe-area-inset-bottom)) !important;
  }
}

@supports (margin: max(0px)) {
  .spacing-iphone-X {
    margin-left: max(var($spacing), env(safe-area-inset-left)) !important;
  }
}
