@import "./variables";

@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: normal;
  src: url($assets-path + "/fonts/CircularPro-Medium.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 500;
  font-style: italic;
  src: url($assets-path + "/fonts/CircularPro-MediumItalic.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 300;
  font-style: normal;
  src: url($assets-path + "/fonts/CircularPro-Book.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 300;
  font-style: italic;
  src: url($assets-path + "/fonts/CircularPro-BookItalic.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: normal;
  src: url($assets-path + "/fonts/CircularPro-Bold.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 700;
  font-style: italic;
  src: url($assets-path + "/fonts/CircularPro-BoldItalic.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 900;
  font-style: normal;
  src: url($assets-path + "/fonts/CircularPro-Black.otf");
}
@font-face {
  font-family: "Circular";
  font-weight: 900;
  font-style: italic;
  src: url($assets-path + "/fonts/CircularPro-BlackItalic.otf");
}
