$m-dark-theme-purple: (
  50: #f6f3fb,
  100: #e9e1f4,
  200: #dacded,
  300: #cbb9e5,
  400: #bfaae0,
  500: #b49bda,
  600: #ad93d6,
  700: #a489d0,
  800: #9c7fcb,
  900: #8c6dc2,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e4d4ff,
  A700: #d3bbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$m-light-theme-purple: (
  50: #f0eaf7,
  100: #d9ccec,
  200: #c0aae0,
  300: #a787d3,
  400: #946ec9,
  500: #8154c0,
  600: #794dba,
  700: #6e43b2,
  800: #643aaa,
  900: #51299c,
  A100: #e9deff,
  A200: #c6abff,
  A400: #a478ff,
  A700: #925eff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #ffffff,
  ),
);

$m-dark-theme-blue: (
  50: #f2fbfd,
  100: #e0f4f9,
  200: #cbedf5,
  300: #b6e6f1,
  400: #a6e0ee,
  500: #96dbeb,
  600: #8ed7e9,
  700: #83d2e5,
  800: #79cde2,
  900: #68c4dd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e9faff,
  A700: #cff5ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$m-light-theme-blue: (
  50: #edf8fa,
  100: #d3edf3,
  200: #b6e1eb,
  300: #98d4e3,
  400: #82cbdd,
  500: #6cc2d7,
  600: #64bcd3,
  700: #59b4cd,
  800: #4facc7,
  900: #3d9fbe,
  A100: #ffffff,
  A200: #daf6ff,
  A400: #a7e9ff,
  A700: #8de3ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m-dark-theme-red: (
  50: #ffeeee,
  100: #ffd4d4,
  200: #ffb7b7,
  300: #ff9a9a,
  400: #ff8484,
  500: #ff6e6e,
  600: #ff6666,
  700: #ff5b5b,
  800: #ff5151,
  900: #ff3f3f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe7e7,
  A700: #ffcece,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$m-light-theme-red: (
  50: #f7e6e0,
  100: #eac0b3,
  200: #dc9680,
  300: #ce6c4d,
  400: #c44d26,
  500: #b92d00,
  600: #b22800,
  700: #aa2200,
  800: #a21c00,
  900: #931100,
  A100: #ffc2be,
  A200: #ff918b,
  A400: #ff6158,
  A700: #ff493f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
