$m-dark-theme-purple: (
  50: #f6f3fb,
  100: #e9e1f4,
  200: #dacded,
  300: #cbb9e5,
  400: #bfaae0,
  500: #b49bda,
  600: #ad93d6,
  700: #a489d0,
  800: #9c7fcb,
  900: #8c6dc2,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e4d4ff,
  A700: #d3bbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$m-light-theme-purple: (
  50: #ede7f6,
  100: #d2c2e9,
  200: #b59ada,
  300: #9772cb,
  400: #8053bf,
  500: #6a35b4,
  600: #6230ad,
  700: #5728a4,
  800: #4d229c,
  900: #3c168c,
  A100: #d3c2ff,
  A200: #af8fff,
  A400: #8a5cff,
  A700: #7842ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$m-dark-theme-blue: (
  50: #f2fbfd,
  100: #e0f4f9,
  200: #cbedf5,
  300: #b6e6f1,
  400: #a6e0ee,
  500: #96dbeb,
  600: #8ed7e9,
  700: #83d2e5,
  800: #79cde2,
  900: #68c4dd,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e9faff,
  A700: #cff5ff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$m-light-theme-blue: (
  50: #edf6f9,
  100: #d2e9f0,
  200: #b5dbe6,
  300: #97cddc,
  400: #80c2d5,
  500: #6ab7cd,
  600: #62b0c8,
  700: #57a7c1,
  800: #4d9fba,
  900: #3c90ae,
  A100: #fdffff,
  A200: #caf0ff,
  A400: #97e2ff,
  A700: #7edbff,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);

$m-dark-theme-red: (
  50: #ffeeee,
  100: #ffd4d4,
  200: #ffb7b7,
  300: #ff9a9a,
  400: #ff8484,
  500: #ff6e6e,
  600: #ff6666,
  700: #ff5b5b,
  800: #ff5151,
  900: #ff3f3f,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffe7e7,
  A700: #ffcece,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $dark-primary-text,
    600: $dark-primary-text,
    700: $dark-primary-text,
    800: $dark-primary-text,
    900: $dark-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $dark-primary-text,
  ),
);

$m-light-theme-red: (
  50: #f7e6e0,
  100: #eac0b3,
  200: #dc9680,
  300: #ce6c4d,
  400: #c44d26,
  500: #b92d00,
  600: #b22800,
  700: #aa2200,
  800: #a21c00,
  900: #931100,
  A100: #ffc2be,
  A200: #ff918b,
  A400: #ff6158,
  A700: #ff493f,
  contrast: (
    50: $dark-primary-text,
    100: $dark-primary-text,
    200: $dark-primary-text,
    300: $dark-primary-text,
    400: $dark-primary-text,
    500: $light-primary-text,
    600: $light-primary-text,
    700: $light-primary-text,
    800: $light-primary-text,
    900: $light-primary-text,
    A100: $dark-primary-text,
    A200: $dark-primary-text,
    A400: $dark-primary-text,
    A700: $light-primary-text,
  ),
);
