@import "../variables";
@import "../helpers";

.mat-dialog-container.m-theme {
  body.dark-theme & {
    background: map-get($dark-theme-background, container);
  }
}

.cdk-overlay-backdrop.m-theme {
  body.dark-theme & {
    background: rgba(black, 0.7);
  }
}

.mat-dialog-actions {
  &.align-right {
    justify-content: flex-end;
  }
}
