@import "../variables";
@import "../helpers";

/********************************************************************************
 * Override the material design expansion panel style.
 *
 * The "m-theme" class is required on the mat-accordion to use the right theme.
 * Available classes on mat-accordion:
 *   - m-list => to display expansion panels as mat-list style.
 *   - flat => remove the box shadow on each expansion panels.
 *   - important => add border radius and more spacing on each items.
 *   - no-padding => remove the accordion padding.
 *
 * Available classes on mat-expansion-panel-header:
 *   - no-indicator => Hide the toggle indicator added by the component.
 *   - medium => increase the spacing, suitable for 2 lines.
 *   - big => increase the spacing, suitable for 3 lines.
 *   - with-separator => add a border at the bottom of the panel-header.
 *   - no-padding => Remove the original padding.
 *
 ********************************************************************************/

.m-theme.mat-accordion {
  padding: $list-spacing;
  display: block;

  .mat-expansion-panel {
    border-radius: 0;
    border: 0px solid transparent;
    transition: border-radius 225ms, border 225ms, margin 225ms;

    &:first-of-type {
      border-top-right-radius: 0;
      border-top-left-radius: 0;
    }
    &:last-of-type {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }

    .mat-expansion-panel-header {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: $list-spacing / 2 $list-spacing * 2;
      -webkit-tap-highlight-color: transparent;
      transition: padding 200ms;
      position: relative;
      font-size: $default-fz;

      &:focus,
      &:hover {
        background: transparent;
      }

      &.no-indicator {
        .mat-expansion-panel-header-title {
          margin: 0;
        }
        .mat-expansion-indicator {
          display: none;
        }
      }

      &.medium {
        padding: $list-spacing $list-spacing * 2;
      }

      &.big {
        padding: $list-spacing * 2 $list-spacing * 2;
      }

      &.with-separator::after {
        content: "";
        height: 1px;
        width: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: width 250ms;

        .dark-theme & {
          background: map-get($dark-theme-foreground, divider);
        }
        .light-theme & {
          background: map-get($light-theme-foreground, divider);
        }
      }

      &.no-padding {
        padding: 0;

        &:not(.no-indicator) {
          padding-right: $spacing * 2;
        }
      }

      &.mat-expanded {
        &.with-separator::after {
          width: calc(100% - #{($list-spacing * 2)});
        }
      }
    }

    &.mat-expanded:not(.no-highlight) {
      .dark-theme & {
        border: 1px solid mat-color($dark-primary);
      }
      .light-theme & {
        border: 1px solid mat-color($light-primary);
      }
    }

    &.mat-expansion-panel-spacing {
      margin: $list-spacing 0;
    }

    .mat-expansion-panel-body {
      padding: 0 $list-spacing * 2 $list-spacing * 2;
    }

    &.content-no-spacing {
      .mat-expansion-panel-body {
        padding: 0;
      }
    }

    .actions {
      display: flex;
      padding: $list-spacing $list-spacing * 2 $list-spacing $list-spacing;

      > .mat-button {
        padding: 0 $spacing * 2;
        border-radius: $button-radius;
      }

      > .spacing {
        margin-right: $list-spacing;
      }
    }

    &:not(.mat-expanded):not([aria-disabled="true"]) .mat-expansion-panel-header:hover {
      background: transparent;
    }
  }

  &.m-list {
    .mat-expansion-panel {
      margin-top: $list-spacing / 4;

      &.mat-expansion-panel-spacing {
        margin: $list-spacing 0;

        &:last-of-type {
          margin-bottom: 0;
        }
      }

      &:first-of-type {
        margin-top: 0;
      }
    }
  }

  &.flat {
    .mat-expansion-panel {
      box-shadow: none;
    }
  }

  &.important {
    &.m-list {
      .mat-expansion-panel {
        margin-top: $list-spacing;
        border-radius: $shape-radius;

        &:first-of-type {
          margin-top: 0;
        }
      }
    }
    .mat-expansion-panel {
      border-radius: $shape-radius;

      &:first-of-type {
        border-top-right-radius: $shape-radius;
        border-top-left-radius: $shape-radius;
      }
      &:last-of-type {
        border-bottom-right-radius: $shape-radius;
        border-bottom-left-radius: $shape-radius;
      }
    }
  }

  &.no-padding,
  .mat-expansion-panel-header.no-padding {
    padding: 0;
  }

  .mat-expansion-panel-header-title {
    align-items: center;

    .panel-icon {
      margin-right: $button-icon-spacing * 2;
      height: $list-icon-size;
      width: $list-icon-size;
      line-height: $list-icon-size;
      font-size: $list-icon-size;
    }
  }
}

.m-theme-expansion-panel-draggable {
  &.cdk-drag-preview.mat-expansion-panel {
    box-sizing: border-box;

    margin-top: $list-spacing;
    border-radius: $shape-radius;

    &.mat-expansion-panel-spacing {
      margin: $list-spacing 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      margin-top: 0;
      border-top-right-radius: $shape-radius;
      border-top-left-radius: $shape-radius;
    }
    &:last-of-type {
      border-bottom-right-radius: $shape-radius;
      border-bottom-left-radius: $shape-radius;
    }

    .mat-expansion-panel-header {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
      padding: $list-spacing / 2 $list-spacing * 2;
      -webkit-tap-highlight-color: transparent;
      transition: padding 200ms;
      position: relative;
      font-size: $default-fz;

      &:focus,
      &:hover {
        background: transparent;
      }

      &.no-indicator {
        .mat-expansion-panel-header-title {
          margin: 0;
        }
        .mat-expansion-indicator {
          display: none;
        }
      }

      &.medium {
        padding: $list-spacing $list-spacing * 2;
      }

      &.big {
        padding: $list-spacing * 2 $list-spacing * 2;
      }

      &.with-separator::after {
        content: "";
        height: 1px;
        width: 0;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-50%);
        transition: width 250ms;

        .dark-theme & {
          background: map-get($dark-theme-foreground, divider);
        }
        .light-theme & {
          background: map-get($light-theme-foreground, divider);
        }
      }

      &.no-padding {
        padding: 0;
      }

      &.mat-expanded {
        &.with-separator::after {
          width: calc(100% - #{($list-spacing * 2)});
        }
      }
    }

    .mat-expansion-panel-header-title {
      align-items: center;

      .panel-icon {
        margin-right: $button-icon-spacing * 2;
        height: $list-icon-size;
        width: $list-icon-size;
        line-height: $list-icon-size;
        font-size: $list-icon-size;
      }
    }
  }

  &.cdk-drag-placeholder {
    body.dark-theme & {
      background: transparent;
      box-shadow: none;
    }
    body.light-theme & {
      background: transparent;
      box-shadow: none;
    }

    .mat-expansion-panel-header {
      position: relative;

      .mat-content {
        opacity: 0;
      }

      &::before {
        content: "";
        position: absolute;
        top: 50%;
        left: 50%;
        height: 100%;
        width: 100%;
        transform: translate(-50%, -50%);
        border-radius: $shape-radius;
        box-sizing: border-box;

        body.dark-theme & {
          border: 2px dashed map-get($dark-primary, default);
        }
        body.light-theme & {
          border: 2px dashed map-get($light-primary, default);
        }
      }
    }
  }
}

.cdk-drag-animating {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.mat-accordion.cdk-drop-list-dragging .mat-expansion-panel {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.m-theme.mat-accordion {
  .mat-expansion-panel-header {
    &.no-padding:not(.no-indicator) {
      padding-right: $spacing * 2;
    }
  }
}

.m-theme.mat-accordion.m-list-stroked {
  > .mat-expansion-panel {
    margin-top: $list-spacing;
    border-radius: $shape-radius;
    background: transparent;

    &.mat-expansion-panel-spacing {
      margin: $list-spacing 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &.mat-expanded,
    & {
      .dark-theme & {
        border: 1px solid map-get($dark-theme-foreground, divider);
      }
      .light-theme & {
        border: 1px solid map-get($light-theme-foreground, divider);
      }
    }

    > .mat-expansion-panel-header {
      transition: background 330ms linear;
      padding: $spacing * 2;
    }

    &.mat-expanded {
      > .mat-expansion-panel-header {
        .dark-theme & {
          background: map-get($dark-theme-foreground, divider);
        }
        .light-theme & {
          background: map-get($light-theme-foreground, divider);
        }
      }
    }
  }
}
.m-theme.mat-accordion.m-list-inner {
  > .mat-expansion-panel {
    // margin-top: $list-spacing;
    background: transparent;

    &.mat-expansion-panel-spacing {
      margin: $list-spacing 0;

      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:first-of-type {
      margin-top: 0;
    }

    &.mat-expanded,
    & {
      .dark-theme &,
      .light-theme & {
        border: none;
      }
    }

    > .mat-expansion-panel-header {
      padding-left: 0;
      padding-bottom: 0;
      padding-top: 0;

      .mat-expansion-panel-header-title {
        padding: $spacing;
        padding-left: $spacing * 2;
      }
    }
  }
}
